*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.container .navbar-vert {
    width: 20%;
    height: 100vh;
    background-color: #b0e9be;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-right: #0f8b2e 4px solid;
}

.navbar-vert .vert {
    list-style: none;
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.navbar-vert .vert figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-vert .vert figure img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.vert p {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.navbar-vert .vert ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.navbar-vert .vert ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 10vw;
    text-align: center;
}

.navbar-vert .vert ul li a:hover {
    background-color: #0f8b2e;
    color: #fff;
    transition: 0.5s;
}

.container .conteudo  {
    width: 80%;
    height: 100vh;
    display: flex;  
    flex-direction: column;
    background-color: #f1f1f1
}

.conteudo .header-info {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #000;

}

.header-info .info {
    width: 25%;
    height: 90%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgb(160, 156, 156);

}

.info p {
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    text-align: justify;
    width: 90%;
    height:4vh;
}

.info span {
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    text-align: justify;
    height: 5vh;
    width: 85%;
}

.info .s_leg {
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    text-align: justify;
    height: 5vh;
    padding: 10px;
    width: 85%;
}

.info:hover {
    box-shadow: 0px 0px 10px 0px #0f8b2e;
    transition: 1s;
}

.conteudo .cards {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f1f1f1;
}

.cards .card-info {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    background-color: #fff;
}

.cards .card-info:hover {
    background-color: #fff;
    width: 33vw;
    height: 33vh;
    transition: 0.8s;
}

.card-info .p-card {
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-info .s-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.card-info p {
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
    border-radius: 10px;
}

.card-info .temp {
    font-size: 20px;
    font-weight: 500;
    width: 80%;
    padding: 5px;
}



.card-info .alert-card {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.alert-card svg {
    width: 50px;
    height: 50px;
    margin: 10px;
    fill: rgb(240, 66, 66);
}
