*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 5em;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F1f1f1;
}

.header {
    color: #0f8b2e;
    border-bottom: solid 3px #0f8b2e;
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
    position: fixed;
}

.conteudo {
    color: #0f8b2e;
    border-bottom: solid 3px #0f8b2e;
    width: 100%;
    background-color: #f1f1f1;
    height: 100px;
}

.container {

    width: 80%;
    margin: auto;
}


.header .container {
    display: flex;
    justify-content: space-between;
    
}

.header .container img {
    width: 100px;
    height: 100px;
}

.navbar {
    display: flex;
    width: 750px;
    justify-content: space-around;
    color: black;
    list-style: none;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.navbar .login {
    border: 1px solid #0f8b2e;
    color: black;
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 50px;
}

.navbar .cadastro {
    border: 1px solid #0f8b2e;
    color: black;
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 0px;
}

.navbar .link:hover {
    color: green;
    transition: 0.5s;
}

.navbar .login:hover{
    background-color: #0f8b2e;
    color: white;
    transition: 0.5s;
}

.navbar .cadastro:hover{
    background-color: #0f8b2e;
    color: white;
    transition: 0.5s;
}



/* Banner */

.banner {
    color: white;
    padding: 40px 0;
    min-height: 450px;
    background-image: url("https://img.freepik.com/fotos-premium/alface-em-horta_1373-801.jpg?w=2000");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.banner .container {

    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    font-size: 36px;

    width: 280px;
}

.banner .container span {
    font-weight: 800;
}

/* missao visao e valores*/

.social {

    background-color: #b0e9be;

}

.box img {
    width: 170px;
}


.social .container .boxes {
    display: flex;
    height: 560px;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.box h1 {
    font-size: 34px;
    font-weight: 500;
}

.box p {
    text-align: justify;
    width: 300px;
    font-size: 20px;
}


.box img {
    width: 400px;
    height: 400px;

}

.box h1 {
    margin: 0px;
    padding: 0px;	
    box-sizing: border-box;

}

.contato .container .form-flex {
    display: flex;
    height: 560px;
    justify-content: center;
    align-items: space-between;

}

.container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    flex-direction: column;
}

.container .form input {
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color: #f1f1f1;
}

.container .form textarea{
    width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color: #f1f1f1;
}
.container .form button {
    width: 425px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #0f8b2e;
    cursor: pointer;
}

.form button:hover{
    background-color: #b0e9be;
    color: black;
    transition: 0.5s;
}

.form img{
    width: 350px;
    height: 350px;
    margin: 120px;
}

.form h1 {
    font-size: 34px;
    font-weight: 500;
}

.footer {
    background-color: #0f8b2e;
    height: 100px;
    color: #fff;
    display: flex;
}

.footer .container {
    display: flex;
    justify-content: center;
}